<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <table class="search-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="input-full-width">
              <mat-label>Item a buscar</mat-label>
              <input [(ngModel)]="searchText" matInput />
            </mat-form-field>
          </td>
          <td>
            <button mat-raised-button (click)="search()" color="accent">Buscar</button>
          </td>
        </tr>
      </table>

      <a mat-raised-button matBadge="{{ count }}" (click)="addCart()" routerLink="/cart" matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
